[Unit]
Description=Choose Your Own Chris Backend
After=network.target

[Service]
Type=notify
User=root
Group=root
WorkingDirectory=/var/www/api.crog.gg/backend
Environment=PATH=/var/www/api.crog.gg/venv/bin
EnvironmentFile=/var/www/api.crog.gg/backend/.env
ExecStart=/var/www/api.crog.gg/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:5001 app:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 