.layout {
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
}

.layout-main {
  flex: 1;
  margin-left: 260px;
  min-height: 100vh;
}

@media (max-width: 1023px) {
  .layout-main {
    margin-left: 0;
    padding-top: 56px;
  }
}
